@model SchoolProject.Models.ClassModel

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name</h2>
<p>Start Date: @Model.StartDate.ToString("dd MMM yyyy")</p>
<p>Finish Date: @Model.FinishDate.ToString("dd MMM yyyy")</p>
