@model IEnumerable<SchoolProject.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>List of students</h2>

<ul>
    @foreach (var student in Model)
    {
        <li>
            <a href="/students/show/@student.Id">
                @student.Name
            </a>
        </li>
    }
</ul>

